<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>En programación</title>
    <link rel="stylesheet" href="programando.css">
</head>

<body>
    <div class="container">
        <div class="construction-sign">
            <h1>¡Estamos programando!</h1>
            <p>Esta sección estará lista pronto. Gracias por tu paciencia.</p>
        </div>
        <div class="animation">
            <img src="https://github.com/ROCKEMMA/img/blob/main/gifs/signo.gif?raw=true" alt="En construcción">
        </div>
        <a href="../../index.html" class="back-button">Regresar</a>
    </div>
</body>

</html>